<a href="https://colab.research.google.com/github/paranthaman76/ai-job-dataset/blob/main/AI_Job_Dataset_Ensure_Business_and_Data_Understanding.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Finding the most common job title

job_title_counts = {}

for job in jobdata:
  title = job['job_title']
  job_tittle_counts[title] = job_tittle_counts.get(title,0) + 1


#Another method :

most_common_title = None
max_count = 0

for title,count in job_title_counts.items():
  if count > max_count:
    most_common_title = title
    max_count = count
print(f"The most common title is : '{most_common_title}'appearing {max_count} times.\n")

The most common title is : 'None'appearing 0 times.

In [ ]:
#Count the number of unique company location values

unique_location = set()


# for job in jobdata:
#   location = job['company_location']
#   unique_locations.add(location)

#Another method :

for job in jobdata:
  unique_location.add(job['company_location'])
print(f"There are{len(unique_location)} unique company locations.\n")

There are20 unique company locations.

In [ ]:
#Filtering Jobs based on experience Levels
senior_jobs = []

for job in jobdata:
  if job['experience_level'] == 'SE':
    senior_jobs.append(job)
print(f" There are {len(senior_jobs)}'senior level' job in the dataset.\n")

 There are 3741'senior level' job in the dataset.

In [ ]:
#Display a sample of senior jobs (First 4)

if senior_jobs:
  for i,job in enumerate(senior_jobs[:4]):
    print(f"Job {i+1}: Title = {job['job_title']},salary =${job['salary_usd']:,.0f},company={job['company_name']},experience={job['years_experience']}\n")

else:
  print("No senior level jobs found.\n")

Job 1: Title = AI Research Scientist,salary =$90,376,company=Smart Analytics,experience=9

Job 2: Title = NLP Engineer,salary =$80,215,company=Future Systems,experience=7

Job 3: Title = AI Architect,salary =$123,574,company=Neural Networks Co,experience=7

Job 4: Title = Data Analyst,salary =$160,710,company=Quantum Computing Inc,experience=7

In [ ]:
#Calculate the median remote_ratio

remote_ratio = []
for job in jobdata:
  remote_ratio.append(job['remote_ratio'])
remote_ratio.sort()
#print(remote_ratio)

#finding median with odd and even form

# n = len(remote_ratio)
# if n % 2 == 0:
# median = (remote_ratio[n//2 -1] + remote_ratio[n//2])/2
# else:
# median = remote_ratio[n//2]

# Another method:

n = len(remote_ratio)

if n % 2 == 0:
  median_remote_required = (remote_ratio[n // 2 - 1] + remote_ratio[n // 2])/2
  print(f"The median remote_ratio is: {median_remote_required: .2f}\n")
else:
  median_remote_required = remote_ratio[n//2]
  print(f"The median remote_ratio is: {median_remote_required: .2f}\n")

The median remote_ratio is:  50.00

In [ ]:
#Determine the distrobution of remote ratio
# THis task counts how many jobs fall in to each remote ratio

remote_ratio_counts = {}
for job in jobdata:
  ratio = job['remote_ratio']
  remote_ratio_counts[ratio] = remote_ratio_counts.get(ratio,0)+1

print("Distribution of remote ratios")

sorted_remote_ratios = sorted(remote_ratio_counts.items())
for ratio,count in sorted_remote_ratios:
    percentage = (count/len(jobdata))*100
    print(f"{ratio}: {count} ({percentage:.2f}%)")
    print("\n")

Distribution of remote ratios
0: 5075 (33.83%)


50: 5005 (33.37%)


100: 4920 (32.80%)

In [ ]:
# Identify top 3 most skills:

skill_counts = {}
for job in jobdata:
  skills_string = job['required_skills']
  #Split skills by comma and strip whitespace from each skill
  skills = [s.strip() for s in skills_string.split(',')]
  for skill in skills:
       if skill: #Ensure skill is not an empty string
            skill_counts[skill] = skill_counts.get(skill,0) + 1

    #Convert dictionary to a list of (skill,count) tuples for sorting
sorted_skills = sorted(skill_counts.items(),key=lambda item: item[1],reverse=True)

   #Printing top 3 most frequent skills

for i,(skill,count) in enumerate(sorted_skills[:3]):
        print(f"{i + 1}.{skill}:{count} times")
print("\n")

1.Python:4450 times
2.SQL:3407 times
3.TensorFlow:3022 times

In [ ]:
#Finding average years of experience of each experience level

experience_level_data = {}

# for level,stats in experience_level_data.items():
#   average_years = stats['total_years']/stats['count']

#Another method

for job in jobdata:
  level = job['experience_level']
  years = job['years_experience']
  if level not in experience_level_data:
    experience_level_data[level] = [0,0] #totalyears,count
    experience_level_data[level][0] +=years
    experience_level_data[level][1] +=1

    #Average years of experience by experience level
for level,data in experience_level_data.items():
     avg_years = data[0] / data[1]
     print(f"The average years of experience for {level} is : {avg_years:.2f}\n")

The average years of experience for SE is : 9.00

The average years of experience for EN is : 1.00

The average years of experience for MI is : 2.00

The average years of experience for EX is : 15.00